<section id="contact" class="contact-area pt-125 pb-130 gray-bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center pb-25">
                    <h2 class="title">Get In Touch</h2>
                    <p>Nunc id dui at sapien faucibus fermentum ut vel diam. Nullam tempus, nunc id efficitur sagittis,
                        urna est ultricies eros, ac porta sem turpis quis leo.</p>
                </div> <!-- section title -->
            </div>
        </div> <!-- row -->
        {#        <div class="row">#}
        {#            <div class="col-lg-6">#}
        {#                <div class="contact-form pt-30">#}
        {#                    <form id="contact-form" action="assets/contact.php">#}
        {#                        <div class="single-form">#}
        {#                            <input type="text" name="name" placeholder="Name">#}
        {#                        </div> <!-- single form -->#}
        {#                        <div class="single-form">#}
        {#                            <input type="email" name="email" placeholder="Email">#}
        {#                        </div> <!-- single form -->#}
        {#                        <div class="single-form">#}
        {#                            <textarea name="message" placeholder="Message"></textarea>#}
        {#                        </div> <!-- single form -->#}
        {#                        <p class="form-message"></p>#}
        {#                        <div class="single-form">#}
        {#                            <button class="main-btn" type="submit">Send Message</button>#}
        {#                        </div> <!-- single form -->#}
        {#                    </form>#}
        {#                </div> <!-- contact form -->#}
        {#            </div>#}
        {#        </div> <!-- row -->#}
        <form method="post" action="/">
            {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.name.label }} {{ form.name(class="form-control") }}
        </div>
        <div class="form-group">
            {{ form.email.label }}
            {{ form.email(class="form-control") }}
        </div>

        <div class="form-group">
            {{ form.message.label }}
            {{ form.message(class="form-control", rows=5) }}
        </div>

        <div class="form-group">
            {{ form.submit(class="main-btn") }}
        </div>
        </form>
    </div> <!-- container -->
</section>
